:root {
  --primary-color: #0d0d0d;
  --secundary-color: #161b22;
  --terciary-color: #262626;
  --text-color: #f2f2f2;
  --link-active-color: #161b22;
  --width-desktop: min(1200px, 90%);
  --height-habilidades-projetos: 232px;
  --height-svg: 200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  background-image: url(./assets/batman-7503733.svg);
  background-size: 130vw;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body * {
  color: var(--text-color);
  font-family: "Archivo Narrow";
  text-align: center;
  position: relative;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: var(--width-desktop);
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(47, 50, 55, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 0.3125rem 0.125rem rgba(47, 50, 55, 1);
  backdrop-filter: blur(1rem);
}
header p {
  display: none;
  font-family: "Actor";
  font-size: 1.5rem;
}
.btnMenu {
  display: none;
  flex-direction: column;
  gap: 8px;
  width: 40px;
  height: 40px;
}
#line1,
#line2,
#line3 {
  width: 40px;
  height: 4px;
  background-color: #f2f2f2;
  border-radius: 10px;
  transition: 500ms;
}
.btnMenu.active #line1 {
  transform: rotate(-45deg) translate(-4px, 4px);
}
.btnMenu.active #line2 {
  display: none;
}
.btnMenu.active #line3 {
  transform: rotate(45deg) translate(-4px, -4px);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:active {
  transform: scale(0.95);
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
}
li {
  font-family: "Actor";
  font-size: 1.5rem;
}
li:hover {
  border-bottom: #000 0.125rem solid;
}
ul .active {
  border-bottom: #000 0.15625rem solid;
  transform: scale(1.05);
  box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.1);
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  border-radius: 5px;
}

nav {
  width: 100%;
  transition: transform 0.5s ease-in;
}
section {
  display: flex;
  flex-direction: column;

  width: var(--width-desktop);
  height: fit-content;

  justify-content: space-evenly;
  align-items: center;

  /* gap: 44px; */
  flex-wrap: wrap;
  /* overflow: hidden; */
}
div {
  display: flex;
  width: 100%;
  height: 100vh;

  justify-content: center;
  align-items: center;
}
section div {
  height: fit-content;
}

label {
  font-family: "Archivo Narrow";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

.habilidades img,
.habilidadesFuturas img {
  background-color: #2f3237;
  padding: 20px;
  border-radius: 50px;
  object-fit: contain;
}

#sectInicio {
  flex-direction: column;
  gap: 18px;
}
#sectInicio > div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#imgPerfil {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 5px rgba(242, 242, 242, 0.25);
}

#sectInicio h1 {
  font-family: "Oleo Script";
  font-size: 50px;
  line-height: 69px;
}
#cargo {
  font-family: "Archivo Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #f2f2f278;
}
#linkCurriculo {
  font-family: "Archivo Narrow";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #f2f2f278;
}
#social {
  margin-top: 1rem;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.habilidade,
.habilidadeFutura {
  background-color: #2f3237;
  padding: 1rem;
  border-radius: 1.25rem;
}
.color-1,
.color-4 {
  fill: var(--primary-color);
}
.color-2 {
  fill: #161b22;
}
.color-3 {
  fill: var(--terciary-color);
}
.color-5 {
  fill: #2f3237;
}
.active .habilidade,
.active .habilidadeFutura {
  background-color: #fff;
  transition: background-color 3s;
}
.active .habilidade .color-3 {
  fill: #ebebeb;
  transition: fill 3s;
}
.active .habilidade .color-4 {
  fill: #000;
  transition: fill 3s;
}
.active .habilidade .color-5 {
  fill: #fff;
  transition: fill 3s;
}
.active .habilidade-html .color-1 {
  fill: #e44d26;
  transition: fill 3s;
}
.active .habilidade-html .color-2 {
  fill: #f16529;
  transition: fill 3s;
}
.active .habilidade-css .color-1 {
  fill: #264de4;
  transition: fill 3s;
}
.active .habilidade-css .color-2 {
  fill: #2965f1;
  transition: fill 3s;
}
.active .habilidade-js .color-1 {
  fill: #e6a329;
  transition: fill 3s;
}
.active .habilidade-js .color-2 {
  fill: #f1bf22;
  transition: fill 3s;
}

#sectHabilidades,
#sectHabilidadesFuturas,
#sectProjetos,
#sectContato {
  width: var(--width-desktop);
  gap: 8.5rem;
  flex-wrap: wrap;
}

.habilidades {
  display: flex;
  justify-content: space-evenly;
}

.habilidadesFuturas {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.habilidadeFutura {
  width: fit-content;
  height: var(--height-habilidades-projetos);
}
.habilidadeFutura svg {
  width: auto;
  height: var(--height-svg);
}
.habilidadeFutura svg path,
.habilidadeFutura svg circle,
.habilidade-nextjs svg polygon {
  fill: var(--primary-color);
}
.active .habilidade-ts svg path {
  fill: #2f74c0;
  transition: fill 3s;
}
.active .habilidade-react svg path,
.active .habilidade-react svg circle {
  fill: #61dafb;
  transition: fill 3s;
}
.active .habilidade-nextjs svg path,
.active .habilidade-nextjs svg polygon {
  fill: #000000;
  transition: fill 3s;
}

.projetos {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}
a > section {
  width: fit-content;
  height: fit-content;
}

#sectContato {
  height: fit-content;
  gap: 10px;
  padding: 12px;
}

#sectContato a {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.contato {
  flex-direction: row;
  gap: 15px;
}

#aWhatsapp,
#aLinkedin,
#aGithub {
  padding: 10px;
  border-radius: 10px;
  color: var(--text-color);
}

.active #aWhatsapp,
.active #aWhatsapp path {
  background-color: #00a884;
  fill: #ffffff;
  color: #ffffff;
  transition: background-color 3s, fill 3s, color 3s;
}

.active #aLinkedin,
.active #aLinkedin path {
  background-color: #0a66c2;
  fill: #ffffff;
  color: #ffffff;
  transition: background-color 3s, fill 3s, color 3s;
}

.active #aGithub,
.active #aGithub path {
  background-color: #161b22;
  fill: #ffffff;
  color: #ffffff;
  transition: background-color 3s, fill 3s, color 3s;
}
#aGithub:hover,
#aLinkedin:hover,
#aWhatsapp:hover {
  transition: transform 500ms;
  transform: scale(1.2);
  z-index: 10;
}

@media (max-width: 941px) {
  :root {
    --width-desktop: 95%;
    --height-habilidades-projetos: auto;
  }
  header p {
    display: flex;
  }
  .btnMenu {
    display: flex;
  }
  nav {
    position: absolute;
    width: 100%;
    top: 60px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(16px);
    border: rgba(255, 255, 255, 0.1) 0.15625rem solid;
    border-radius: 20px;
    box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.1);
    transform: translateY(-200%);
  }

  nav.active {
    transform: translate(0);
  }

  ul {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }
  ul li {
    width: 98%;
    padding: 8px;
  }
  ul .active {
    border: #f2f2f2 1px solid;
    box-shadow: none;
  }
  li a {
    width: 100%;
  }
  div {
    height: min(98vh);
    align-items: center;
  }
  label {
    font-size: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
  }
  #aGithub:hover,
  #aLinkedin:hover,
  #aWhatsapp:hover {
    transform: none;
  }
  #sectHabilidades,
  #sectHabilidadesFuturas,
  #sectProjetos,
  #sectContato {
    gap: 4rem;

    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 0.3125rem 0.125rem rgba(47, 50, 55, 0.5);
    backdrop-filter: blur(1rem);
    padding-block: 1rem;
  }

  #divInicio {
    align-items: center;
  }
  #imgPerfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  #sectInicio h1 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  #cargo {
    font-size: 1.5rem;
    line-height: 100%;
  }
  #linkCurriculo {
    font-size: 1rem;
    line-height: 100%;
  }
  #social {
    margin-top: 1rem;
    gap: 1rem;
  }
  #aWhatsapp svg,
  #aLinkedin svg,
  #aGithub svg {
    width: 1.875rem;
    height: 1.875rem;
  }

  .habilidades,
  .habilidadesFuturas {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .habilidades svg,
  .habilidadesFuturas svg {
    height: 6.25rem;
    width: fit-content;
  }

  .projetos img {
    width: 98%;
    height: auto;
  }

  .contato {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .contato a {
    width: 100%;
  }
}
